//

// Table of Contents
// Settings
//
// 01. Main Content
// 02. Latest Tweets
// 03. Footer

//

// 01. Main Content
// - - - - - - - - - - - - - - - - - - - - - - - - -
#main-content-wrapper {
  background: white;
  .interchange {
    background: transparent repeat-x;
  }
  .content-spacer {
    padding: 15px 0px 35px 0px;
  }
  .content-container {
    padding: 25px 0px;
    &.white {
      background: $white;
    }
    &.light-blue {
      background: $wprdc-blue;
    }
    &.dark {
      h3 {
        color: $white;
      }
      color: $wprdc-blue;
      background: $jet;
    }
    &.oil {
      background: $oil;
    }
    &.jet {
      background: $jet;
    }
  }
  .button.postfix {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }
  .showcase-item {
    text-align: center;
    padding: rem-calc(5);
    img {
      margin-bottom: rem-calc(3);
      border: solid 4px #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      display: inline-block;
      line-height: 0;
      max-width: 100%;
    }
    .showcase-title {
      font-weight: bold;
      font-size: rem-calc(13);
      margin-bottom: rem-calc(3);
    }
    .showcase-desc {
      font-size: rem-calc(10);
      line-height: rem-calc(12);
    }
    .panel {
      background: $smoke;
      &:hover {
        background: $white-smoke;
      }
    }
  }
  .category-item {
    @include panel(
            $bg: $ghost,
            $padding: 20px,
            $adjust: true
    );
    img {
      margin: rem-calc(0 9 5 0);
      border: solid 4px #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      display: inline-block;
      line-height: 0;
      max-width: 100%;
    }
  }
}

@media #{$medium-up} {
  .valign-middle {
    display: table;
    > .columns {
      display: table-cell;
      vertical-align: middle;
    }
    > .columns, > [class*="column"] + [class*="column"]:last-child {
      float: none;
    }
  }
  .no-margin {
    margin: 0;
  }
}

// 02. Latest Tweets
// - - - - - - - - - - - - - - - - - - - - - - - - -
#latest-tweets {
  background: $wprdc-blue;
  padding: 15px 0px 10px 0px;
  .twitter-info {
    margin-bottom: 5px;
    font-size: 1.6875rem;
  }
  .orbit-container li p {
    background: $wprdc-blue;
    margin-bottom: 0;
    a {
      color: $white;
      &:hover {
        color: scale-color($white, $lightness: -5%);
        text-decoration: underline;
      }
    }
  }
  .orbit-bullets {
    margin: 0 auto 15px auto;
  }
  .orbit-timer {
    display: none;
  }
  .follow-info {
    p {
      font-size: 9.5pt;
      margin-bottom: 0;
    }
    a {
      color: $white;
      &:hover {
        color: scale-color($white, $lightness: -5%);
        text-decoration: underline;
      }
    }
  }
}

// 03. Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -
#footer {
  .sub-footer {
    padding: 15px 0px 10px 0px;
    background: $oil;
    color: $iron;
    .footer-title {
      margin-bottom: 0px;
      font-size: 1.6875rem;
    }
  }
  .legal {
    background: $jet;
    color: $steel;
    p {
      font-size: 9.5pt;
      margin: 7px 0px 5px;
    }
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  top: 60px;
  font-weight: 700;
  right: 25px;
  color: $wprdc-blue;
  padding: 5px;
  text-align: center;
  background-color: $jet;
  z-index:75;
}

.scroll-to-top:hover {
  text-decoration: none;
}

.material-icons.menu-icon {
  font-size: 48pt;
  text-align: center;
  i {
    text-align: center;
  }
}

.fa.menu-icon {
  font-size: 48pt;
  text-align: center;
  i {
    text-align: center;
  }
  min-height: 64px;
}

#newletter-icon{
  font-size: 64pt;
  text-align: center
}

.leaflet-bottom {
  z-index: 50 !important;
}

.map-header {
  position: relative;
}

.floating-text {
  background-color: transparentize($jet, .3);
  z-index: 50;
  position: absolute;
  top: 5px;
  right: 5px;
}

#top-title {
  span {
    font-size: 2.8rem;
  }
  margin-top: -7px;
}

#title1 {
  color: $wprdc-blue;
}

#main-title {
  text-align: center;
}

.main-menu {
  text-align: center;
}

.leaflet-bottom, .cartodb-logo {
  z-index: 50 !important;
}
